<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parcial 2 | fun</title>
    <link rel="stylesheet" href="./css/fun.css">
    <link rel="stylesheet" href="./css/animate.css">
    <script src="/js/date.js"></script>

</head>

<body>

    <div class="cuerpo_pantalla">

        
        <div class="informacion animated fadeInDown">
            
            
            
            <p class="numeroVisitado">{{visitas}}</p>
            <p class="fecha"><br>20/dic/19</p>
            <p class="hora">10:92</p>
            
            
        </div>
        

        <div class="centro">
            <p>AYUWUOKI HEHEHE.</p>

        </div>

        <div class="menu animated fadeInUp">
            <ul class="lista">
                <li class="elemento_lista" ><a href="/">home</a></li>
                <li class="elemento_lista" ><a href="/bore">bore</a></li>
                <li class="elemento_lista" ><a href="/fun">fun</a></li>
                <li class="elemento_lista" ><a href="/admi">admi</a></li>

            </ul>
        </div>


    </div>

</body>

</html>