<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parcial 2 | Home</title>
    <link rel="stylesheet" href="./css/menu.css">
    <link rel="stylesheet" href="./css/home.css">
    <script src="./css/date.js"></script>

</head>

<body>

    <div class="cuerpo_pantalla">

        
        <div class="informacion">
            
            <p class="numeroVisitado">{{visitas}}</p>
            <p class="fecha"><br>20/dic/19</p>
            <p class="hora">10:92</p>
            
            
        </div>
        

        <div class="centro">
            <p>BE WELCOME.</p>

        </div>


    </div>

</body>

</html>