@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style: none;
}

body .cuerpo_pantalla {
  width: 100vw;
  height: 100vh;
  background-color: #ADABA8;
  background-image: url("https://media2.giphy.com/media/dopMxOvKz3gI0/giphy.gif?cid=790b76115ce79554394d4954591c97f2&rid=giphy.gif");
  background-position: center;
  background-size: 720px;
  background-repeat: no-repeat;
}

body .cuerpo_pantalla .menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .cuerpo_pantalla .menu .lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-bottom: 30pt;
  margin-right: 40pt;
  z-index: 1000;
}

body .cuerpo_pantalla .menu .lista .elemento_lista {
  margin: 10pt;
  font-size: 20pt;
  color: white;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

body .cuerpo_pantalla .menu .lista .elemento_lista:hover {
  font-size: 30pt;
  border-bottom: 2px solid white;
}

body .cuerpo_pantalla .centro {
  width: 100%;
  height: 100%;
  text-align: justify;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  position: fixed;
  display: none;
}

body .cuerpo_pantalla .centro p {
  color: black;
  font-size: 10pt;
  font-weight: bold;
  padding: 10pt;
}

body .cuerpo_pantalla .informacion {
  width: 100%;
  height: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

body .cuerpo_pantalla .informacion .fecha {
  display: none;
}

body .cuerpo_pantalla .informacion .numeroVisitado {
  display: none;
}

body .cuerpo_pantalla .informacion .hora {
  margin: 50pt;
  margin-top: 10pt;
  color: white;
  font-size: 140pt;
  margin-left: 100pt;
  font-weight: bold;
  margin-top: 70pt;
  margin-right: 40pt;
}
/*# sourceMappingURL=fun.css.map */